@{
    Layout = null;
}
@using Microsoft.Extensions.Configuration
@model GpsTracker.Models.Home.RegisterModel
@inject IConfiguration config

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@config["ProductName"] - @config["CompanyName"] </title>
    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">
</head>

<body class="signup-page">
    <div class="signup-box">
        <div class="logo">
            <a asp-controller="Home" asp-action="Index">@config["ProductName"]</a>
            <small> @config["CompanyName"]</small>
        </div>
        <div class="card">
            <div class="body">

                @using (Html.BeginForm("Register", "Home", FormMethod.Post))
                {
                    <div class="msg">注册帐号</div>
                    <p> @Html.ValidationSummary()</p>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">帐号</i>
                        </span>
                        <div class="form-line">

                            @Html.TextBoxFor(m => m.UserName, new { @class = "form-control", placeholder = "请输入用户名", autocomplete = "off" })
                        </div>
                    </div>
                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">邮箱</i>
                        </span>
                        <div class="form-line">
                            @Html.TextBoxFor(m => m.Email, new { @class = "form-control", placeholder = "请输入你的E-Mail地址", autocomplete = "off" })
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">密码</i>
                        </span>
                        <div class="form-line">

                            @Html.PasswordFor(m => m.Password, new { @class = "form-control", autocomplete = "off", placeholder = "请输入密码" })
                        </div>
                    </div>

                    <div class="input-group">
                        <span class="input-group-addon">
                            <i class="material-icons">确认密码</i>
                        </span>
                        <div class="form-line">

                            @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", autocomplete = "off", placeholder = "请重复输入密码" })
                        </div>
                    </div>

                    <button class="btn btn-block btn-lg bg-pink waves-effect" type="submit">注册</button>

                    <div class="m-t-25 m-b--5 align-center">
                        <a href="~/home/login">你己有帐号？</a>
                    </div>
                }

            </div>
        </div>
    </div>

    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>

    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>

    <!-- Validation Plugin Js -->
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>

    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>
    <script src="~/js/pages/examples/sign-up.js"></script>
</body>

</html>